
@{
    ViewBag.Title = "Index";
}
@section OverrideStyles{
    <style>

        .dataTables_wrapper .dataTable {
            margin: 0 !important;
        }

            .dataTables_wrapper .dataTable .percent {
                padding: 0px !important;
            }

            .dataTables_wrapper .dataTable thead th {
                padding: 5px 30px;
            }

        #RejectMonthly .dataTables_wrapper .dataTable thead th {
            padding: 5px 5px;
        }

        #RejectYearly .dataTables_wrapper .dataTable thead th {
            padding: 5px 5px;
        }
    </style>
}
@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>*@
    <script src="~/assets/vendor/chartjs/js/Chart.bundle.min.js"></script>
    <script src="~/assets/vendor/chartjs/js/chartjs-plugin-annotation.min.js"></script>
    <script src="~/assets/js/transportation.js"></script>
    <link rel="stylesheet" href="~/assets/css/transportation.css">
    <script src="~/assets/js/uiHelpers.js"></script>
    <script type="text/javascript">
        /*-----------------------*/
        /*Initial on Webpage Load*/
        /*-----------------------*/
        var isFirstLoad = 1;
        var screenID = 'WEB_LPC_028';
        var summary_table = [];
        var table = null;
        var table_summary = [];
        var selected = [];
        var submitCriteria;
        var column = [
            { "data": "tender_date", "name": "tender_date", "title": "Tender Date", "autoWidth": true, "className": "text-nowrap", "render": uiHelpers.renderDate },
            { "data": "shipment_no", "name": "shipment_no", "title": "Shipment No", "autoWidth": true, "className": "text-nowrap" },
            { "data": "reject_carrier_code", "name": "reject_carrier_code", "title": "Reject Carrier Code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "reject_carrier_name", "name": "reject_carrier_name", "title": "Reject Carrier Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "reject_remark", "name": "reject_remark", "title": "Reject Remark", "autoWidth": true, "className": "text-nowrap" },
            { "data": "carrier_code", "name": "carrier_code", "title": "Carrier Code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "carrier_name", "name": "carrier_name", "title": "Carrier Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "fleet_name", "name": "fleet_name", "title": "Fleet Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_name", "name": "destination_name", "title": "Destination Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_amphur", "name": "destination_amphur", "title": "Destination Amphur", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_province", "name": "destination_province", "title": "Destination Province", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_region", "name": "destination_region", "title": "Destination Region", "autoWidth": true, "className": "text-nowrap" },
            { "data": "reject_date", "name": "reject_date", "title": "Reject Date", "autoWidth": true, "className": "text-nowrap", "render": uiHelpers.displayDateTime },
            { "data": "truck_type", "name": "truck_type", "title": "Truck Type", "autoWidth": true, "className": "text-nowrap" },
            { "data": "carrier_change", "name": "carrier_change", "title": "Carrier Change", "autoWidth": true, "className": "text-nowrap" },
            { "data": "planner_name", "name": "planner_name", "title": "Planner Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "mat_freight_group", "name": "mat_freight_group", "title": "Material Freight Group", "autoWidth": true, "className": "text-nowrap" },
            { "data": "mat_freight_name", "name": "mat_freight_name", "title": "Material Freight Name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "business_group", "name": "business_group", "title": "Bussiness Group", "autoWidth": true, "className": "text-nowrap" },
            { "data": "order_type", "name": "order_type", "title": "order_type", "autoWidth": true, "className": "text-nowrap" }
        ];

        var column_summary = [
            { "data": "reject_carrier_name", "name": "reject_carrier_name", "title": "Carrier Name" },
            { "data": "total_carrier_old", "name": "total_carrier_old", "title": "ผรม. เดิม" },
            { "data": "total_carrier_new", "name": "total_carrier_new", "title": "ผรม. ใหม่" },
            
        ];


        $(document).ready(function () {
            initialControl().then(() => {
                uiHelpers.getDefaultCriteria(screenID).done((result) => { setCriteria(result.data) }).always(Search);
            });
            initialSearchCriteria_Rawdata();
            comboOnchange();
        });



        // ============================>
        // ==== Raw Data Function =====>
        // ============================>

        function searchRawdata() {
            var paramDate = moment(getSelectDate_Raw(), 'YYYY/MM/DD')._d;
            $('#RejectDetailText').text("รายละเอียด Reject ประจำเดือน" + getMonthName(paramDate.getMonth() + 1));// + ' ' + paramDate.getFullYear());
            DrawTableDetail(getCriteria_Raw());
        }

        function initialSearchCriteria_Rawdata() {
            var ajax = [];
            $('#CriteriaOveray_Raw').fadeIn('xslow');
            ajax.push(uiHelpers.initCustomerTransportAjax('#cboCustomer_Raw'));
            ajax.push(uiHelpers.initBusiness('#cboBusiness_Raw'));
            ajax.push(uiHelpers.initFleet('#cboFleet_Raw'));
            ajax.push(uiHelpers.initShippingPoint('#cboShippingPoint_Raw'));
            ajax.push(uiHelpers.initShiptoRegion('#cboShiptoRegion_Raw'));
            ajax.push(uiHelpers.initMatfrg('#cboMatfrg_Raw'));
            ajax.push(uiHelpers.initOrderType('#cboOrderType_Raw'));
            ajax.push(uiHelpers.initTruckType('#cboTruckType_Raw'));
            ajax.push(uiHelpers.initPlannerName('#cboPlannerName_Raw'));
            uiHelpers.initMonthYearpicker('#monthpicker_Raw');
            @* init_datepicker_criteria_one_month();*@
            var result = Promise.all(ajax).finally(() => { $('#CriteriaOveray_Raw').fadeOut('xslow'); });
            return result;
        }

        function Search() {

            submitCriteria = getCriteria();
            uiHelpers.initCriteria(screenID, '#search-button', setCriteria, getCriteria, Search);
            //Monthly chart
            $('#RejectMonthly' + ' .section-loading').show();
            $('#RejectYearly' + ' .section-loading').show();
            $('#RejectMonthlySummaryDetailOverlay').show();
            $('#RejectYearlySummaryDetailOverlay').show();
            $.post("/Transportation/RejectMonthly", submitCriteria)
                .done(function (result) {
                    DrawSummaryTable(result.dataTable, 1, '#dtList_monthly_summary');
                   // $('#MonthlyTableHeader').text(submitCriteria.orderStartDate + '-' + submitCriteria.orderEndDate);
                    $('#MonthlyTableHeader').text(uiHelpers.displayFullMonthYear(getSelectDate()));
                    generateGraph_SC_CB_NT('#RejectMonthly', result.result,
                        'bar', "Tender Date", 'Count of Shipment No', "จำนวนเที่ยวที่ถูก Reject : " + uiHelpers.displayFullMonthYear(getSelectDate()),
                        'จำนวนเที่ยวที่ถูก Reject : ' + uiHelpers.displayFullMonthYear(getSelectDate()), 'bottom',
                        function (activePoint) {
                            //var value = activePoint._chart.data.datasets[activePoint._datasetIndex].data[activePoint._index];
                            var date = moment(activePoint._chart.data.labels[activePoint._index], 'DD-MM-YYYY').format('YYYY/MM/DD');
                            var filter = { orderStartDate: date, orderEndDate: date };
                            genTableModal(filter);
                        });
                }).fail(uiHelpers.postFailHandler)
                .always(function (e) {
                    $('#RejectMonthly' + ' .section-loading').hide();
                    $('#RejectMonthlySummaryDetailOverlay').hide();
                });

            $.post("/Transportation/RejectYearly", submitCriteria)
                .done(function (result) {
                    DrawSummaryTable(result.dataTable, 2, '#dtList_yearly_summary');
                    $('#YearlyTableHeader').text(uiHelpers.displayFullYear(getSelectDate()));
                    generateGraph_SC_NT('#RejectYearly', { data: result.result },
                        'bar', "Tender Date", 'Count of Shipment No', "จำนวนเที่ยวที่ถูก Reject : " + uiHelpers.displayFullYear(getSelectDate()),
                        'จำนวนเที่ยวที่ถูก Reject : ' + uiHelpers.displayFullYear(getSelectDate()), null,
                        function (activePoint) {
                            //var value = activePoint._chart.data.datasets[activePoint._datasetIndex].data[activePoint._index];
                            var startDate = moment(activePoint._chart.data.labels[activePoint._index], 'MMM').startOf('month').format('YYYY/MM/DD');
                            var endDate = moment(activePoint._chart.data.labels[activePoint._index], 'MMM').endOf('month').format('YYYY/MM/DD');
                            var filter = { orderStartDate: startDate, orderEndDate: endDate };
                            genTableModal(filter);
                        });
                }).fail(uiHelpers.postFailHandler)
                .always(function (e) {
                    $('#RejectYearly' + ' .section-loading').hide();
                    $('#RejectYearlySummaryDetailOverlay').hide();
                });


            
            var paramDate = moment(getSelectDate())._d;
        }

        function getCriteria(filter) {

            var date = moment(getSelectDate());
            var startDate;
            var endDate;
            if (date != null) {
                //var tmpStartDate = date.startOf('month').format('YYYY/MM/DD');
                //var tmpEndDate = date.endDate._d;
                startDate = date.startOf('month').format('YYYY/MM/DD');
                endDate = date.endOf('month').format('YYYY/MM/DD');
            }

            if (filter == null)
                filter = {
                    day: null, month: null, filter_group: null, carrier: null, product_group: null, aging: null, plannerName: getPlannerName(),
                    orderStartDate: startDate, orderEndDate: endDate
                };
            else {
                filter = {
                    day: null || filter.day, month: null || filter.month, filter_group: null || filter.filter_group, carrier: null || filter.carrier,
                    product_group: null || filter.product_group, aging_lpc: null || filter.aging_lpc, plannerName: null || filter.plannerName,
                    status: null || filter.status,orderStartDate: null || filter.orderStartDate,
                    orderEndDate: null || filter.orderEndDate
                };
            }

            var criteria = {
                orderStartDate: filter.orderStartDate,
                orderEndDate: filter.orderEndDate,
                business: getBusiness_m(),
                fleet: getFleet_m(),
                customer: getCustomer_m(),
                shippingPoint: getShippingPoint_m(),
                shipToRegion: getShiptoRegion_m(),
                orderType: getOrderType_m(),
                truckType: getTruckType_m(),
                plannerName: filter.plannerName,
                status: filter.status,
                matGroup: getMatfrg_m(),
                carrier: filter.carrier,
                aging_lpc: filter.aging_lpc,
                product_group: filter.product_group,
                filter_group: filter.filter_group
            };
            console.log(criteria);

            return criteria;
        }

        function getSubmitCriteria(filter) {
            filter = {
                carrier: null || filter.carrier, aging_lpc: null || filter.aging_lpc, status: null || filter.status,
                orderStartDate: null || filter.orderStartDate, orderEndDate: null || filter.orderEndDate
            };
            $('#ModalTransactionDate').text(moment(filter.orderStartDate,'DD/MM/YYYY').format('DD/MM/YYYY') + '-' + moment(filter.orderEndDate,'DD/MM/YYYY').format('DD/MM/YYYY'));
            return {
                ...submitCriteria,
                matGroup: [],
                business: [],
                customer: [],
                shippingPoint: [],
                shipToRegion: [],
                orderType: [],
                truckType: [],
                plannerName: [],
                orderStartDate: filter.orderStartDate,
                orderEndDate: filter.orderEndDate,
                status: filter.status,
                aging_lpc: filter.aging_lpc,
                carrier: filter.carrier
            }
        }

        function initialSearchCriteria() {
            var ajax = [];
            $('#CriteriaOveray').fadeIn('xslow');
            ajax.push(uiHelpers.initCustomerTransportAjax('#cboCustomer'));
            ajax.push(uiHelpers.initBusiness('#cboBusiness'));
            ajax.push(uiHelpers.initFleet('#cboFleet'));
            ajax.push(uiHelpers.initShippingPoint('#cboShippingPoint'));
            ajax.push(uiHelpers.initShiptoRegion('#cboShiptoRegion'));
            ajax.push(uiHelpers.initMatfrg('#cboMatfrg'));
            ajax.push(uiHelpers.initOrderType('#cboOrderType'));
            ajax.push(uiHelpers.initTruckType('#cboTruckType'));
            ajax.push(uiHelpers.initPlannerName('#cboPlannerName'));
            uiHelpers.initMonthYearpicker('#monthpicker');
            init_datepicker_criteria_one_month();
            var result = Promise.all(ajax).finally(() => { $('#CriteriaOveray').fadeOut('xslow'); });
            return result;
        }

        function setCriteria(data) {
            if (data == null) return;
            $('#CriteriaOveray').fadeIn('xslow');
            var dt = new Date(data.criteria.orderStartDate);
            $('#monthpicker').datepicker('setDate', dt);
            var ajax = [];
            ajax.push(uiHelpers.initBusiness('#cboBusiness', [], [], [], [], []).always(() => { $('#cboBusiness').val(data.criteria.business).trigger('change.select2'); }));
            ajax.push(uiHelpers.initMatfrg('#cboMatfrg', [], [], data.criteria.business, [], [], []).always(() => { $('#cboMatfrg').val(data.criteria.matGroup).trigger('change.select2'); }));
            ajax.push(uiHelpers.initFleet('#cboFleet', [], [], data.criteria.business, data.criteria.matGroup, [], []).always(() => { $('#cboFleet').val(data.criteria.fleet).trigger('change.select2'); }));
            ajax.push(uiHelpers.initShippingPoint('#cboShippingPoint', [], [], data.criteria.business, data.criteria.fleet, data.criteria.matGroup, []).always(() => { $('#cboShippingPoint').val(data.criteria.shippingPoint).trigger('change.select2'); }));
            ajax.push(uiHelpers.initShiptoRegion('#cboShiptoRegion', [], [], data.criteria.business, data.criteria.fleet, data.criteria.matGroup, data.criteria.shippingPoint).always(() => { $('#cboShiptoRegion').val(data.criteria.shipToRegion).trigger('change.select2'); }));
            @*ajax.push($('#cboCustomer').val(data.criteria.customer).trigger('change.select2'));*@
            ajax.push(uiHelpers.setSelectedCriteria('#cboCustomer', '/Report/GetCustomerTransport', data.criteria.customer));
            $('#cboOrderType').val(data.criteria.orderType).trigger('change.select2');
            $('#cboTruckType').val(data.criteria.truckType).trigger('change.select2');
            $('#cboPlannerName').val(data.criteria.plannerName).trigger('change.select2');
            var result = Promise.all(ajax).finally(() => { $('#CriteriaOveray').fadeOut('xslow'); });
            return result;
        }

        var isRtl = $('html').attr('dir') === 'rtl';
        $(function () {
            $('#datepicker-99').datepicker({
                format: "mm-yyyy",
                viewMode: "months",
                minViewMode: "months",
                orientation: isRtl ? 'auto right' : 'auto left'
            });
        });

        function drawTable(criteria) {
            $('#RejectDetailOverlay').show();
            //criteria.orderEndDate = criteria.orderStartDate;
            //$("#dtList").DataTable().destroy();
            var jqxhr = $.post("/Transportation/RPTLPC010_Report", criteria)
                .done(function (result) {
                    if (table == null) {
                        GenerateDatatable(result.data, column, '#dtList');
                        $('#dtList').DataTable().columns.adjust().draw();
                    }
                    else {
                        //GenerateDatatable(result.data, column);
                        table.clear();
                        $.each(result.data, function (idx, obj) {
                            table.row.add(result.data[idx]);
                        });
                        table.draw();
                    }
                })
                .fail(function (e) {
                    console.log(e);
                }).always(function () {
                    $('#RejectDetailOverlay').hide();
                    $('#dtList').DataTable().columns.adjust().draw();
                });
        }
        function DrawTableDetail(criteria) {
            drawTable(criteria);
        }

        function DrawSummaryTable(result, index, table_id) {
            if (table_summary[index] == null) {
                table_summary[index] = GenerateDatatableSummary(result, column_summary, table_id);
            }
            else {
                //GenerateDatatable(result.data, column);
                table_summary[index].clear();
                $.each(result, function (idx, obj) {
                    table_summary[index].row.add(result[idx]);
                });
                table_summary[index].draw();
            }
        }

        function GenerateDatatable(data, columns,table_id) {
            //table = $("#dtList").DataTable().destroy();
            table = $(table_id).DataTable({
                dom: 'lTf<"html5buttons"B > gtip',
                buttons: [
                    'copy', 'excel'
                ],
                //fixedHeader: true,
                scrollY:'40vh',
                scrollX: true,
                ordering: false,
                responsive: true,
                pageLength: 10,
                filter: true,
                data: data,
                columns: columns
            });
        }

        function GenerateDatatableSummary(data, columns, table_id) {
            //table = $("#dtList").DataTable().destroy();
            return $(table_id).DataTable({
                //dom: 'lTf<"html5buttons"B > gtip',
                //buttons: [
                //    'csv', 'excel', 'pdf'
                //],
                fixedHeader: false,
                scrollX: false,
                scrollY: '50vh',
                ordering: false,
                responsive: true,
                paging: false,
                //pageLength: 10,
                info:false,
                searching:false,
                filter: true,
                data: data,
                columns: columns
            });
        }

        function getMonthName(index) {
            var month = new Array();
            month[0] = "มกราคม";
            month[1] = "กุมภาพันธ์";
            month[2] = "มีนาคม";
            month[3] = "เมษายน";
            month[4] = "พฤษภาคม";
            month[5] = "มิถุนายน";
            month[6] = "กรกฎาคม";
            month[7] = "สิงหาคม";
            month[8] = "กันยายน";
            month[9] = "ตุลาคม";
            month[10] = "พฤศจิกายน";
            month[11] = "ธันวาคม";
            return month[index - 1];
        }

        function genTableModal(filter) {
            $('#modals-transaction').modal('show');
            generateTableLeadModal_SC('#RejectModal', '@Url.Action("RPTLPC010_Report", "Transportation")',
                filter, null, column);
        }

    </script>
}
<input type="hidden" id="reporttype" />
<!-- Content Start -->
<div class="content-wrapper">
    <h1>Transportation</h1>
    <h2>Reject Report</h2>
    <ul class="nav filled-tabs">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#filled-dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#filled-rawdata">Raw Data</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active show" id="filled-dashboard">
            @{
                await Html.RenderPartialAsync("_Common_Transportation_Criteria_07");
            }
            <div class="row mb-4 mt-4" id="RejectMonthly">
                <div class="col-md-8 pr-1">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <h4 class="card-title report-title"></h4>
                            <div class="report-filename" style="display: none;"></div>
                            <div class="d-flex align-items-center">
                                <div class="wrapper">
                                    <a href="#" id="downloadPdf" onclick="downloadPDF('#RejectMonthly'); return false;" class="btn btn-link d-inline-flex font-weight-bold">
                                        <i class="icon-share-alt mr-1"></i>Download PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="chart-container report-container" style="height:50vh">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 pl-1">
                    <div class="card">
                        <p class="text-center pt-2">จำนวนเที่ยวที่ถูก Reject สะสม แบ่งตามผรม.: <span id="MonthlyTableHeader"></span></p>
                        <div class="card-body pt-1 pb-1">
                            <div id="RejectMonthlySummaryDetailOverlay" class="overlay">
                                <div class="loader-wrap">
                                    <div class="bar-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title" id="RejectMonthlySummaryDetailText"></h4>
                            <div class="table-responsive" style="overflow-x:hidden">
                                <div class="dataTables_wrapper">
                                    <table id="dtList_monthly_summary" class="table" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4" id="RejectYearly">
                <div class="col-md-8 pr-1">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center justify-content-between">
                            <h4 class="card-title report-title"></h4>
                            <div class="report-filename" style="display: none;"></div>
                            <div class="d-flex align-items-center">
                                <div class="wrapper">
                                    <a href="#" id="downloadPdf" onclick="uiHelpers.downloadPDF('#RejectYearly .report-graph', $('#RejectYearly .report-title').text(), {reportTitle:$('#RejectYearly .report-title').text()}); return false;" class="btn btn-link d-inline-flex font-weight-bold">
                                        <i class="icon-share-alt mr-1"></i>Download PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container report-container" style="height:50vh">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 pl-1">
                    <article class="card">
                        <p class="text-center pt-2">จำนวนเที่ยวที่ถูก Reject สะสม แบ่งตามผรม.: <span id="YearlyTableHeader"></span></p>
                        <div class="card-body pt-1 pb-1">
                            <div id="RejectYearlySummaryDetailOverlay" class="overlay">
                                <div class="loader-wrap">
                                    <div class="bar-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title" id="RejectYearlySummaryDetailText"></h4>
                            <div class="table-responsive" style="overflow-x:hidden">
                                <div class="dataTables_wrapper">
                                    <table id="dtList_yearly_summary" class="table" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="filled-rawdata">
            @{
                await Html.RenderPartialAsync("_Common_Transportation_Criteria_Rawdata_07");
            }
            <div class="row" id="RejectDetail">
                <div class="col-12">
                    <article class="card mb-4">
                        <div class="card-body">
                            <div id="RejectDetailOverlay" class="overlay">
                                <div class="loader-wrap">
                                    <div class="bar-loader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="card-title" id="RejectDetailText"></h4>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper">
                                    <table id="dtList" class="table table-striped" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<div class="modal modal-default" id="modals-transaction">
    <div class="modal-dialog-centered modal-dialog-scrollable" style="max-width: 80%;margin:auto">
        <form class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    สรุป Reject ระหว่างวันที่ <span id="ModalTransactionDate"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <div class="row" id="RejectModal">
                            <div class="col-12">
                                <div class="overlay section-loading">
                                    <div class="loader-wrap">
                                        <div class="bar-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title section-title"></h4>
                                <div class="table">
                                    <div class="dataTables_wrapper">
                                        <table class="table table-striped section-table-render" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" onclick="SaveStock()">Save</button>*@
            </div>
        </form>
    </div>
</div>


<script>

    function genTable(header, data, table_id, header_id, detail_id, header_text, table_index) {
        //var thead = document.getElementById("header_summary");
        var tr = document.getElementById(header_id);
        var tbody = document.getElementById(detail_id);
        var thRowType = document.createElement("th");
        thRowType.innerText = header_text;
        thRowType.className = "BlankRow text-nowrap";
        tr.appendChild(thRowType);

        if (summary_table[table_index] == null) {

            $.each(header, function (index, dataHeader) {
                var th = document.createElement("th");
                th.innerText = dataHeader;
                th.className = "text-center text-nowrap";
                tr.appendChild(th);
            });

            $.each(data, function (index, dataRowType) {
                var tr_detail = document.createElement("tr");
                var td = document.createElement("td");
                td.innerText = dataRowType.rowType;
                td.className = "text-nowrap text-left";
                tr_detail.appendChild(td);

                $.each(dataRowType.qty, function (index, dataQty) {
                    var td_qty = document.createElement("td");
                    td_qty.innerText = dataQty;
                    td_qty.className = "text-nowrap text-right";
                    tr_detail.appendChild(td_qty);
                });

                tbody.appendChild(tr_detail);
            });

            summary_table[table_index] = $(table_id).DataTable({ responsive: true, bSort: false, paging: false, "dom": 'lrtip', "info": false });

        }
        else {
            $('#' + header_id).html('');
            $('#' + detail_id).html('');
            tr.appendChild(thRowType);

            $.each(header, function (index, dataHeader) {
                var th = document.createElement("th");
                th.innerText = dataHeader;
                th.className = "text-center text-nowrap";
                tr.appendChild(th);
            });

            $.each(data, function (index, dataRowType) {
                var tr_detail = document.createElement("tr");
                var td = document.createElement("td");
                td.innerText = dataRowType.rowType;
                td.className = "text-nowrap text-left";
                tr_detail.appendChild(td);

                $.each(dataRowType.qty, function (index, dataQty) {
                    var td_qty = document.createElement("td");
                    td_qty.innerText = dataQty;
                    td_qty.className = "text-nowrap text-right";
                    tr_detail.appendChild(td_qty);
                });

                tbody.appendChild(tr_detail);
            });


        }

    }
</script>