@{
    ViewBag.Title = "Index";
}

@section OverrideStyles{
    <link rel="stylesheet" href="~/assets/css/transportation.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css" />
    <style>
    </style>
}

@section Scripts{
    @*<script src="~/assets/vendor/chartjs/js/Chart.bundle.min.js"></script>
    <script src="~/assets/vendor/chartjs/js/chartjs-plugin-annotation.min.js"></script>
    <script src="~/assets/js/uiHelpers.js"></script>*@
    <script src="~/assets/js/transportation.js"></script>

    <script type="text/javascript">
        var screenID = 'WEB_LPC_003';
        var column = [{ "data": "load_id", "name": "load_id", "title": "เลข Shipment", "autoWidth": true, "className": "text-nowrap" },
            { "data": "carrier_code", "name": "carrier_code", "title": "รหัสผู้รับเหมา", "autoWidth": true, "className": "text-nowrap" },
            { "data": "carrier_name", "name": "carrier_name", "title": "ชื่อผู้รับเหมา", "autoWidth": true, "className": "text-nowrap" },
            { "data": "driver_name", "name": "driver_name", "title": "ชื่อพนักงานขับรถ", "autoWidth": true, "className": "text-nowrap" },
            { "data": "truck_license", "name": "truck_license", "title": "ทะเบียรถ", "autoWidth": true, "className": "text-nowrap" },
            { "data": "equipment_type", "name": "equipment_type", "title": "ประเภทรถ", "autoWidth": true, "className": "text-nowrap" },
            { "data": "total_distance", "name": "total_distance", "title": "ระยะทาง", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderN2 },
            { "data": "total_volume", "name": "total_volume", "title": "Vol./Shipment", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderN2 },
            { "data": "total_weight", "name": "total_weight", "title": "Wgt./Shipment", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderN2 },
            { "data": "total_shipments", "name": "total_shipments", "title": "จำนวน DN", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
            { "data": "total_stops", "name": "total_stops", "title": "จำนวน Stop", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
            { "data": "user_create_date", "name": "user_create_date", "title": "วันที่สร้าง Shipment", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "load_prtb_ctnt", "name": "load_prtb_ctnt", "title": "หมายเหตุ", "autoWidth": true, "className": "text-nowrap" },
            { "data": "delivery_number", "name": "delivery_number", "title": "DN", "autoWidth": true, "className": "text-nowrap" },
            { "data": "order_number", "name": "order_number", "title": "SO", "autoWidth": true, "className": "text-nowrap" },
            { "data": "orderdate", "name": "orderdate", "title": "OrderDate", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDate },
            { "data": "po_number", "name": "po_number", "title": "PO", "autoWidth": true, "className": "text-nowrap" },
            { "data": "load_leg", "name": "load_leg", "title": "leg", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
            { "data": "customer_code", "name": "customer_code", "title": "รหัสลูกค้า", "autoWidth": true, "className": "text-nowrap" },
            { "data": "customer_name", "name": "customer_name", "title": "ชื่อลูกค้า", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_code", "name": "origin_code", "title": "รหัสต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_name", "name": "origin_name", "title": "ชื่อต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_address", "name": "origin_address", "title": "ที่อยู่ต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_region", "name": "origin_region", "title": "รหัสภาคต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_country", "name": "origin_country", "title": "ประเทศต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "origin_postal_code", "name": "origin_postal_code", "title": "รหัสไปรษณีย์ต้นทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_code", "name": "destination_code", "title": "รหัสปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_name", "name": "destination_name", "title": "ชื่อปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_address", "name": "destination_address", "title": "ที่อยู่ปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_region", "name": "destination_region", "title": "รหัสภาคปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_country", "name": "destination_country", "title": "ประเทศปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "destination_postal_code", "name": "destination_postal_code", "title": "รหัสไปรษณีย์ปลายทาง", "autoWidth": true, "className": "text-nowrap" },
            { "data": "commodity_code", "name": "commodity_code", "title": "กลุ่มสินค้า", "autoWidth": true, "className": "text-nowrap" },
            { "data": "mat_freight_grp", "name": "mat_freight_grp", "title": "Mat Freight group", "autoWidth": true, "className": "text-nowrap" },
            { "data": "shipment_prtb_ctnt", "name": "shipment_prtb_ctnt", "title": "หมายเหตุ", "autoWidth": true, "className": "text-nowrap" },
            { "data": "shipment_weight", "name": "shipment_weight", "title": "Wgt./DN", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderN2 },
            { "data": "pickup_code", "name": "pickup_code", "title": "pickup_code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_name", "name": "pickup_name", "title": "pickup_name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_block", "name": "pickup_block", "title": "pickup_block", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_street", "name": "pickup_street", "title": "pickup_street", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_city", "name": "pickup_city", "title": "pickup_city", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_region", "name": "pickup_region", "title": "pickup_region", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_country", "name": "pickup_country", "title": "pickup_country", "autoWidth": true, "className": "text-nowrap" },
            { "data": "pickup_postal_code", "name": "pickup_postal_code", "title": "pickup_postal_code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_code", "name": "drop_code", "title": "drop_code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_name", "name": "drop_name", "title": "drop_name", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_block", "name": "drop_block", "title": "drop_block", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_street", "name": "drop_street", "title": "drop_street", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_city", "name": "drop_city", "title": "drop_city", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_region", "name": "drop_region", "title": "drop_region", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_country", "name": "drop_country", "title": "drop_country", "autoWidth": true, "className": "text-nowrap" },
            { "data": "drop_postal_code", "name": "drop_postal_code", "title": "drop_postal_code", "autoWidth": true, "className": "text-nowrap" },
            { "data": "request_delivery_date", "name": "request_delivery_date", "title": "Request Date", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDate },
            { "data": "incoterm", "name": "incoterm", "title": "incoterm", "autoWidth": true, "className": "text-nowrap" },
            { "data": "status_display", "name": "status_display", "title": "สถานะล่าสุด", "autoWidth": true, "className": "text-nowrap" },
            { "data": "actual_tender_accept", "name": "actual_tender_accept", "title": "วันที่ tender accept", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_in_origin", "name": "actual_in_origin", "title": "วันที่เข้าต้นทาง", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_gi_date", "name": "actual_gi_date", "title": "วันที่ตัดจ่าย", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_in_transit", "name": "actual_in_transit", "title": "วันที่ in transit", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_out_origin", "name": "actual_out_origin", "title": "วันที่ออกจากต้นทาง", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_in_destination", "name": "actual_in_destination", "title": "วันที่เข้าปลายทาง", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_delivery_date", "name": "actual_delivery_date", "title": "วันที่ส่งถึงลูกค้า", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "actual_out_destination", "name": "actual_out_destination", "title": "วันที่ออกจากปลายทาง", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "completedate", "name": "completedate", "title": "วันที่จัดส่งสำเร็จ", "autoWidth": true, "className": "text-nowrap text-center", "render": uiHelpers.renderDateTime },
            { "data": "item_number", "name": "item_number", "title": "เลขMaterial", "autoWidth": true, "className": "text-nowrap" },
            { "data": "item_desc", "name": "item_desc", "title": "รายละเอียดMaterial", "autoWidth": true, "className": "text-nowrap" },
            { "data": "item_quantity", "name": "item_quantity", "title": "จำนวนMaterial", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
            { "data": "item_weight", "name": "item_weight", "title": "น้ำหนักMaterial", "autoWidth": true, "className": "text-nowrap text-right", "render": uiHelpers.renderN2 },
            { "data": "plannername", "name": "plannername", "title": "plannername", "autoWidth": true, "className": "text-nowrap" },
        ];


        function setCriteria(data) {
            if (data == null) return;
            var dt = new Date(data.criteria.year, data.criteria.month - 1, data.criteria.day || 1);
            $('#monthpicker').datepicker('setDate', dt);
            $('#cboBusiness').val(data.criteria.business).trigger('change');
            $('#cboFleet').val(data.criteria.fleet).trigger('change');
            $('#cboShippingPoint').val(data.criteria.shippingPoint).trigger('change');
            $('#cboShiptoRegion').val(data.criteria.shipToRegion).trigger('change');
            $('#cboMatfrg').val(data.criteria.matGroup).trigger('change');
            $('#cboOrderType').val(data.criteria.orderType).trigger('change');
            $('#cboTruckType').val(data.criteria.truckType).trigger('change');
            $('#cboPlannerName').val(data.criteria.plannerName).trigger('change');
        }

        function Search() {
            uiHelpers.initCriteria(screenID, '#search-button', setCriteria, getCriteria, Search);
            generateSummary('#NotGISummary', '@Url.Action("NotGIStatus", "Transportation")');

            generateGraph('#NotGIByMonth', '@Url.Action("NotGIMonthly", "Transportation")',
                'bar', 'Accept Tender Date', 'Shipment', "Daily Not Shipment " + uiHelpers.displayMonthYear(getSelectDate()),
                'สรุป Not GI ประจำเดือน' + uiHelpers.displayFullMonth(getSelectDate()), null,
                function (activePoint) {
                    var value = activePoint._chart.data.datasets[activePoint._datasetIndex].data[activePoint._index];
                    var day = activePoint._chart.data.labels.indexOf(activePoint._model.label) + 1;
                    var filter = { day: day };

                    genTable(filter);
                });

            generateGraph('#NotGIByYear', '@Url.Action("NotGIYearly", "Transportation")',
                'bar', 'Accept Tender Date', 'Shipment', "Not GI: " + uiHelpers.displayFullYear(getSelectDate()), null, null,
                function (activePoint) {
                    var value = activePoint._chart.data.datasets[activePoint._datasetIndex].data[activePoint._index];
                    var month = activePoint._chart.data.labels.indexOf(activePoint._model.label) + 1;
                    var filter = { month: month };

                    genTable(filter);
                });

            genTable(null);
        }

        function genTable(filter) {
            if (filter == null) filter = {};
            var data_date = new Date(new Date().getFullYear(), (filter.month || (getSelectDate().getMonth() + 1)) - 1, 1);
            generateTable('#NotGIDetail', '@Url.Action("NotGIDetail", "Transportation")', filter,
                'รายละเอียด Not GI ประจำเดือน' + uiHelpers.displayFullMonth(data_date), column)
        }

        $(document).ready(function () {
            initialControl().then(() => {
                uiHelpers.getDefaultCriteria(screenID).done((result) => { setCriteria(result.data) }).always(Search);
            });
        });
    </script>
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 card-statistics">
            <h1>Transportation</h1>
            <h4 class="card-title">รายงาน Not GI <span id="reportHeader"></span></h4>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_Common_Transportation_Criteria_02");
    }
    <div class="row">
        <div class="col-12 card-statistics">
            <div>
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row" id="NotGISummary">
        <div class="col-12 card-statistics">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-nopadding">
                            <div class="card-dn-title">ค้าง GI</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn btn-dark btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-docs md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">Day -3</h6>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-default w-100" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="mr-2">
                                    <h5 class="section-box-1">-</h5>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-nopadding">
                            <div class="card-dn-title">&nbsp;</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn btn-danger btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-calendar md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">Day -2</h6>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-danger w-75" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="mr-2">
                                    <h5 class="section-box-2">-</h5>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-nopadding">
                            <div class="card-dn-title">&nbsp;</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn btn-warning btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-basket md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">Day -1</h6>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-warning w-50" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="mr-2">
                                    <h5 class="section-box-3">-</h5>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4">
                    <div class="card">
                        <div class="overlay section-loading">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body-nopadding">
                            <div class="card-dn-title">&nbsp;</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn btn-primary btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-wallet md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">Today</h6>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-primary w-25" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="mr-2">
                                    <h5 class="section-box-4">-</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="NotGIByMonth">
        <div class="col-md-12">
            <div class="card">
                <div class="overlay section-loading">
                    <div class="loader-wrap">
                        <div class="bar-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <h4 class="card-title report-title"></h4>
                    <div class="report-filename" style="display: none;"></div>
                    <div class="d-flex align-items-center">
                        <div class="wrapper">
                            <a href="#" id="downloadPdf" onclick="downloadPDF('#NotGIByMonth'); return false;" class="btn btn-link d-inline-flex font-weight-bold">
                                <i class="icon-share-alt mr-1"></i>Download PDF
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container report-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="NotGIByYear">
        <div class="col-md-12">
            <div class="card">
                <div class="overlay section-loading">
                    <div class="loader-wrap">
                        <div class="bar-loader">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <h4 class="card-title report-title"></h4>
                    <div class="report-filename" style="display: none;"></div>
                    <div class="d-flex align-items-center">
                        <div class="wrapper">
                            <a href="#" id="downloadPdf" onclick="downloadPDF('#NotGIByYear'); return false;" class="btn btn-link d-inline-flex font-weight-bold">
                                <i class="icon-share-alt mr-1"></i>Download PDF
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container report-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="NotGIDetail">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div class="overlay section-loading">
                        <div class="loader-wrap">
                            <div class="bar-loader">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title section-title"></h4>
                    <div class="table-responsive">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped section-table-render" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>