<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Change Password" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="overlay section-loading">
                <div class="loader-wrap">
                    <div class="bar-loader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="OldPassword" class="label-OldPassword">Old Password</label>
                <div class="input-group" data-target-input="nearest">
                    <input type="password" id="OldPassword" class="form-control OldPassword" placeholder="Old Password" autocomplete="off" data-target="#OldPassword">
                    <span toggle="#OldPassword" class="fa fa-fw fa-eye input-group-append field-icon toggle-password OldPassword-icon"></span>
                </div>

                @*<label for="OldPassword" class="label-OldPassword">Old Password</label>
                <input type="password" class="form-control OldPassword" placeholder="Old Password" AUTOCOMPLETE="off">*@

                <label for="NewPassword">New Password</label>
                <div class="input-group" data-target-input="nearest">
                    <input type="password" id="NewPassword" class="form-control" placeholder="New Password" autocomplete="off" data-target="#NewPassword">
                    <span toggle="#NewPassword" class="fa fa-fw fa-eye input-group-append field-icon toggle-password"></span>
                </div>
                <label for="ConfirmNewPassword">Confirm New Password</label>
                <div class="input-group" data-target-input="nearest">
                    <input type="password" id="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" autocomplete="off" data-target="#ConfirmNewPassword">
                    <span toggle="#ConfirmNewPassword" class="fa fa-fw fa-eye input-group-append field-icon toggle-password"></span>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
    </div>
</div> 