<div id="Allsummary" class="row">
    <div class="overlay section-loading" hidden="hidden">
        <div class="loader-wrap">
            <div class="bar-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="col-12 card-statistics">
        <div class="row" id="div_summary" data-bind="foreach: summary">
            <div class="col-12 col-sm-6 col-lg-2 mb-4">
                <div class="card">
                    <div class="card-body" style="padding-bottom:2%;padding-top:2%;padding-left:5%;padding-right:5%">
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-center">
                                    <b>Issue PO</b>
                                </div>
                            </div>
                        </div>
                        <hr class="myhrline" />
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-start">
                                    <b data-bind="text: formatCurrency(issue_ontime)">1000</b>
                                </div>
                            </div>
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-end">
                                    <b data-bind="text: formatCurrency(issue_delay)">2000</b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center pointer" onclick="SearchCriteria(2);">
                                <div class="d-flex justify-content-start">
                                    <p style="text-align:left">Pass</p>
                                </div>
                            </div>
                            <div class="col align-items-center pointer" onclick="SearchCriteria(1);">
                                <div class="d-flex justify-content-end">
                                    <p style="text-align:right">Fail</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="progress progress-lg">
                                    <div class="progress-bar bg-info pointer" onclick="SearchCriteria(2);" role="progressbar" data-bind="attr: {'aria-': formatCurrency((issue_ontime/total_po)*100),} , style: {width:(issue_ontime/total_po)*100+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((issue_ontime/(total_po)*100),2)+'%'">2000</span></div>
                                    <div class="progress-bar bg-danger pointer" onclick="SearchCriteria(1);" role="progressbar" data-bind="attr: {'aria-': formatCurrency(100-((issue_ontime/total_po)*100)),} ,style: {width:100-((issue_ontime/total_po)*100)+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((issue_delay/(total_po)*100),2)+'%'">2000</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 mb-4">
                <div class="card">
                    <div class="card-body" style="padding-bottom:2%;padding-top:2%;padding-left:5%;padding-right:5%">
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-center">
                                    <b>Sent PO to Supplier</b>
                                </div>
                            </div>
                        </div>
                        <hr class="myhrline" />
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-start">
                                    <b data-bind="text: formatCurrency(sent_supp_ontime)">1000</b>
                                </div>
                            </div>
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-end">
                                    <b data-bind="text: formatCurrency(sent_supp_delay)">2000</b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center pointer" onclick="SearchCriteria(4);">
                                <div class="d-flex justify-content-start">
                                    <p style="text-align:left">Pass</p>
                                </div>
                            </div>
                            <div class="col align-items-center pointer" onclick="SearchCriteria(3);">
                                <div class="d-flex justify-content-end">
                                    <p style="text-align:right">Fail</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center">

                                <div class="progress progress-lg">
                                    <div class="progress-bar bg-info pointer" onclick="SearchCriteria(4);" role="progressbar" data-bind="attr: {'aria-': formatCurrency((sent_supp_ontime/total_po)*100),} , style: {width:(sent_supp_ontime/total_po)*100+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((sent_supp_ontime/(total_po)*100),2)+'%'">2000</span></div>
                                    <div class="progress-bar bg-danger pointer" onclick="SearchCriteria(3);" role="progressbar" data-bind="attr: {'aria-': formatCurrency(100-((sent_supp_ontime/total_po)*100)),} ,style: {width:100-((sent_supp_ontime/total_po)*100)+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((sent_supp_delay/(total_po)*100),2)+'%'">2000</span></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-2 mb-4">
                <div class="card">
                    <div class="card-body" style="padding-bottom:2%;padding-top:2%;padding-left:5%;padding-right:5%">
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-center">
                                    <b>Order Confirm Received</b>
                                </div>
                            </div>
                        </div>
                        <hr class="myhrline" />
                        <div class="row">
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-start">
                                    <b data-bind="text: formatCurrency(order_confirm_ontime)">1000</b>
                                </div>
                            </div>
                            <div class="col align-items-center">
                                <div class="d-flex justify-content-end">
                                    <b data-bind="text: formatCurrency(order_confirm_delay)">2000</b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center pointer" onclick="SearchCriteria(6);">
                                <div class="d-flex justify-content-start">
                                    <p style="text-align:left">Pass</p>
                                </div>
                            </div>
                            <div class="col align-items-center pointer" onclick="SearchCriteria(5);">
                                <div class="d-flex justify-content-end">
                                    <p style="text-align:right">Fail</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-items-center">

                                <div class="progress progress-lg">
                                    <div class="progress-bar bg-info pointer" onclick="SearchCriteria(4);" role="progressbar" data-bind="attr: {'aria-': formatCurrency((order_confirm_ontime/total_po)*100),} , style: {width:(order_confirm_ontime/total_po)*100+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((order_confirm_ontime/(total_po)*100),2)+'%'">2000</span></div>
                                    <div class="progress-bar bg-danger pointer" onclick="SearchCriteria(3);" role="progressbar" data-bind="attr: {'aria-': formatCurrency(100-((order_confirm_ontime/total_po)*100)),} ,style: {width:100-((order_confirm_ontime/total_po)*100)+'%'}"
                                         aria-valuemin="0" aria-valuemax="100"><span data-bind="text: uiHelpers.displayDecimal((order_confirm_delay/(total_po)*100),2)+'%'">2000</span></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


