<div id="Allsummary" class="row">
    <div class="overlay section-loading" hidden="hidden">
        <div class="loader-wrap">
            <div class="bar-loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="col-12 card-statistics">
        <h1>KPI Export Carrier (Confirm Booking) report</h1>
        <h4 class="card-title"><span id="reportHeader"></span></h4>
        <div id="summarize_div" class="sum_div">
            <div class="row" id="div_summary" data-bind="foreach: summary">

                <div id="total_shipment" class="col-12 col-sm-6 col-lg-3  mb-3" onclick="SearchCriteria(0);">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="btn btn-primary btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-docs md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">Confirmed Booking </h6>
                                    <h6 id="b1Text" data-bind="text: total"></h6>
                                    <div class="progress progress-xs">
                                        <div id="b1bar" class="progress-bar bg-blue" role="progressbar"
                                             data-bind="attr: {'aria-valuenow': (total/total)*100,} , style: {width:(total/total)*100+'%'}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                        @*<div class="progress-bar bg-info  w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>*@
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="total_no_est" class="col-12 col-sm-6 col-lg-3 mb-3" onclick="SearchCriteria(1);">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="btn btn-success btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-calendar md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">ผ่าน KPI</h6>
                                    <h6 id="b2Text" data-bind="text: total != 0 ? (kpi_pass/total*100).toFixed(2) + '%' : '0%'"></h6>
                                    <div class="progress progress-xs">
                                        <div id="b2Bar" class="progress-bar bg-success" role="progressbar"
                                             data-bind="attr: {'aria-valuenow': total != 0 ? kpi_pass/total*100 : 0} , style: {width: total != 0 ? (kpi_pass /total*100)+'%' : '0%'}"
                                             aria-valuemin="0" aria-valuemax="100"></div>

                                        @*<div class="progress-bar bg-danger w-75" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100"></div>*@
                                    </div>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="total_no_actual_etd" class="col-12 col-sm-6 col-lg-3 mb-3" onclick="SearchCriteria(2);">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="btn btn-warning btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-basket md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">ตก KPI</h6>
                                    <h6 id="b3Text" data-bind="text: total != 0 ? (kpi_fail/total*100).toFixed(2) + '%' : '0%' "></h6>
                                    <div class="progress progress-xs">
                                        <div id="b3Bar" class="progress-bar bg-warning" role="progressbar"
                                             data-bind="attr: {'aria-valuenow': total != 0 ? (kpi_fail/total)*100 : 0 } , style: {width:total != 0 ? (kpi_fail/total*100)+'%' : '0%'}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                        @*<div class="progress-bar bg-warning w-50" role="progressbar" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>*@
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="total_booking_incomplete" class="col-12 col-sm-6 col-lg-3 mb-3" onclick="SearchCriteria(3);">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="btn btn-dark btn-rounded px-3 py-3 mr-2">
                                    <i class="icon-basket md-18"></i>
                                </div>
                                <div class="mr-2">
                                    <h6 class="card-title">ไม่มี Request Date</h6>
                                    <h6 id="b3Text" data-bind="text: booking_incomplete"></h6>
                                    <div class="progress progress-xs">
                                        <div id="b3Bar" class="progress-bar bg-dark" role="progressbar"
                                             data-bind="attr: {'aria-valuenow': (booking_incomplete/total)*100,} , style: {width:(booking_incomplete/total)*100+'%'}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

