@model SCG.ARS.BOI.WEB.Models.ListMiscDataSelectionViewModel
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">เงื่อนไขการค้นหา</h4>
                <div class="form-row  ml-4">
                    <div class="col-lg-12 col-xl-10 col-md-12 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <label for="dtPicker_Raw">Date</label>
                                <input id="dtPicker_Raw" class="form-control cbFormat">
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <label for="cboDC">Location</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(m => m.Location, Enumerable.Empty<SelectListItem>(), null, new { @id = "cboDC_Raw", @name = "DC[]", multiple = "multiple", @style = "width: 100%" })
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <label for="cboCustomer">Customers</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(m => m.Customer, Enumerable.Empty<SelectListItem>(), null, new { @id = "cboCustomer_Raw", @name = "customer[]", multiple = "multiple", @style = "width: 100%" })
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-lg-6 col-md-6 col-sm-12">
                                <label for="cboProductGroup">Product Group</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(m => m.Productgroup, Enumerable.Empty<SelectListItem>(), null, new { @id = "cboProductGroup_Raw", @name = "productgroup[]", multiple = "multiple", @style = "width: 100%" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-2 col-md-12 col-sm-12">
                        <div class="form-row">
                            <div class="form-group col mt-2">
                                <div class="wrapper">
                                    <div class="pt-4">
                                        <button type="button" class="btn btn-primary btn-block" onclick="searchRawdata()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>