<!-- Footer Start -->
<style>
    .footer {
/*        position: fixed;*/
        left:0;
        bottom: 0;
        width: 100%;
        background-color:white;
        text-align: center;
    }
    </style>
    <footer>
        <p class="footer">SCGL Reporting Services</p>
        @*<div class="d-inline-block">
            <button type="button" class="btn-outline-fb btn-social-outline  mr-2">
                <i class="mdi mdi-facebook"></i>
            </button>
            <button type="button" class="btn-outline-tw btn-social-outline  mr-2">
                <i class="mdi mdi-twitter"></i>
            </button>
            <button type="button" class="btn-outline-dribble btn-social-outline  mr-2">
                <i class="mdi mdi-dribbble"></i>
            </button>
            <button type="button" class="btn-outline-ln btn-social-outline  mr-2">
                <i class="mdi mdi-linkedin"></i>
            </button>
            <button type="button" class="btn-outline-gplus btn-social-outline ">
                <i class="mdi mdi-google-plus"></i>
            </button>
        </div>*@
    </footer>
<!-- Footer End -->