@using SCG.ARS.BOI.WEB.Security
@inject ISecurityService sec

<style>
    .awesome-nav-link {
        color: white;
        padding: 0 15px;
        line-height: 69px;
    }

    .awesome-nav-link:hover {
        color: #269bff;
    }

    .hidepassword {
        cursor: pointer;
    }

</style>

<div id="headerChangePassDialog">
    @{
        await Html.RenderPartialAsync("_ChangePasswordDialog");
    }
</div>
<!-- Header Start -->
<header class="top-bar flex-row align-items-center">
    <!-- Logo  -->
    <div class="nav-brand">
        @*<div class="hamburg-icon active">
            <a href="javascript:void(0)" class="nav-link">
                <i class="mdi mdi-menu md-24"></i>
            </a>
        </div>*@
        <div class="navbar-header">
            <h2 class="mb-0">
                <a class="navbar-brand" href="https://www.scglogistics.co.th/home/">
                    <img src="~/assets/images/logo-scg-logistics_40.png" alt="Admin">
                </a>
            </h2>
        </div>
    </div>
    <!-- Logo End  -->
    <!-- Right Nav -->
    <div class="navbar-container">
        <div class="align-self-center">
            @*<div class="search-area">
            <input class="form-control no-border" type="text" placeholder="Search something special" />
            <div class="search-icon">
                <i class="mdi mdi-magnify md-24"></i>
                <i class="mdi mdi-arrow-left md-24"></i>
            </div>
            <div class="clear-icon">
                <i class="mdi mdi-close md-24"></i>
            </div>
        </div>*@

            @{
                await Html.RenderPartialAsync("_TopNavigation");
            }
        </div>
        <button class="d-md-none three-dots">
            <i class="mdi mdi-dots-vertical md-24"></i>
        </button>
        <div class="notifications">
            <ul>
                @if (!sec.isLogin()) {
                <li>
                    <a href="#" class="nav-link" style="font-size: 0.8rem;" aria-expanded="false" title="Sign In" onclick="window.location.href = '@Url.Action("Login", "Account")' + id; return false;">
                        <i class="fas fa-sign-in-alt fa-2x"></i>
                    </a>
                </li>
                } 
                else { 
                <li>
                    <a href="#" data-toggle="dropdown" style="font-size: 0.8rem; padding-top:20px; line-height:normal;" class="nav-link auto-dropdown" id="userProfile" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="far fa-user-circle fa-2x"></i> &nbsp;@await sec.GetFullname()
                    </a>                    
                    <div class="dropdown-menu" aria-labelledby="userProfile">
                        <ul>
                            <li>
                                <a href="#" onclick="headerChangePassDialog.openChangePass(null); return false;">
                                    Change Password
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-flat" asp-controller="Account" asp-action="Logout">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div><!-- Right Nav End -->
</header>
<!-- Header End -->

<script type="text/javascript">
    var headerChangePassDialog;
    $(document).ready(function () {
        headerChangePassDialog = new ChangePasswordDialogClass('#headerChangePassDialog', '@Url.Action("ChangePassword", "Security")', null);

        var jqxhr = $.post('@Url.Action("IsPasswordExpire", "Security")')
            .done(function (result) {
                if (uiHelpers.errorHandler(result)) {
                    console.log(result.data);
                    if (result.data) {
                        headerChangePassDialog.openChangePass(null, true);
                    }
                }

            })
            .fail(uiHelpers.postFailHandler)
            .always(function (e) {
            })
            ;
        //$('#OldPassword .hidepassword').mousedown(function () {
        //    showpassword('#OldPassword');
        //});
        //$('#OldPassword .hidepassword').mouseup(function () {
        //    hidepassword('#OldPassword');
        //});

        //$('#NewPassword .hidepassword').mousedown(function () {
        //    showpassword('#NewPassword');
        //});
        //$('#NewPassword .hidepassword').mouseup(function () {
        //    hidepassword('#NewPassword');
        //});

        //$('#ConfirmNewPassword .hidepassword').mousedown(function () {
        //    showpassword('#ConfirmNewPassword');
        //});
        //$('#ConfirmNewPassword .hidepassword').mouseup(function () {
        //    hidepassword('#ConfirmNewPassword');
        //});
        $(".toggle-password").on("mousedown", function () {
            $(this).removeClass("fa-eye");
            $(this).addClass("fa-eye-slash");

            var input = $($(this).attr("toggle"));
            input.attr('type', 'text');
        });

        $(".toggle-password").on("mouseup", function () {
            $(this).removeClass("fa-eye-slash");
            $(this).addClass("fa-eye");
            var input = $($(this).attr("toggle"));
            input.attr("type", "password");
        });

        function showpassword(controlID) {
            $(controlID + ' input').attr('type', 'text');
            $(controlID + ' i').removeClass("fa-eye-slash");
            $(controlID + ' i').addClass("fa-eye");
        }
        function hidepassword(controlID) {
            $(controlID + ' input').attr('type', 'password');
            $(controlID + ' i').removeClass("fa-eye-slash");
            $(controlID + ' i').addClass("fa-eye");
        }
    });
</script>