quartz.scheduler.instanceName = QuartzScheduler
quartz.scheduler.instanceId = AUTO
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 10
quartz.threadPool.threadPriority = Normal
quartz.jobStore.misfireThreshold = 6000
quartz.jobStore.useProperties = true
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz
quartz.jobStore.tablePrefix = quartz.QRTZ_
quartz.jobStore.dataSource = default
quartz.dataSource.default.connectionString = Host=auto-report-pg.ctg0nvlybzpq.ap-southeast-1.rds.amazonaws.com; Username =csi_all; Password =CSI_@ll; Database =qa_autoreport
quartz.dataSource.default.provider = Npgsql
quartz.serializer.type = json
quartz.plugin.recentHistory.type = Quartz.Plugins.RecentHistory.ExecutionHistoryPlugin, Quartz.Plugins.RecentHistory
quartz.plugin.recentHistory.storeType = Quartz.Plugins.RecentHistory.Impl.InProcExecutionHistoryStore, Quartz.Plugins.RecentHistory
quartz.plugin.timezoneConverter.type = Quartz.Plugin.TimeZoneConverter.TimeZoneConverterPlugin, Quartz.Plugins.TimeZoneConverter