@{
    ViewBag.Title = "Index";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        /*-----------------------*/
        /*Initial on Webpage Load*/
        /*-----------------------*/
        $(document).ready(function () {
        });
    </script>
</head>
<body>
    <!-- Content Start -->
    <div style="text-align:center;width:100%;height:100%;padding-top:10%">
        <img src="~/assets/images/under-construction.png" style="max-width:30%" />
    </div>
</body>
</html>